body {
    margin: 0px;
}

nav {
    background-color: #77C9D4;
}

.logotop {
    max-width: 90px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logofooter {
    max-height: 100px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navlist {
    margin-right: 5%;
    margin-top: 20px;
    float: right;
}

.navbutton {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 50px;
    text-align: center;
    font-size: 16px;
    list-style: none;
    background-color: white;
    border: 2px solid #57BC90;
    border-radius: 20px;
}

.navbutton a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #5F5F5F;
    text-decoration: none;
    display: inline-block;
    padding-left: 20%;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.navbutton a:hover {
    color: white;
}

.navbutton:hover {
    background-color: #015249;
}

.content {
    margin: auto;
}

.coverimg {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
}

.quotebox {
    background-color: #77C9D4;
    width: 40%;
    margin: auto;
    display: block;
    text-align: center;
}

#quoteheader {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 36px;
}

#quotep {
    width: 80%;
    margin: auto;
    display: block;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}

#quotepf {
    width: 80%;
    margin: auto;
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}

#bnbox {
    margin-top: 20px;
}

.centerbutton {
    width: 10%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    list-style: none;
    background-color: white;
    border: 2px solid #57BC90;
    border-radius: 20px;
}

.centerbutton:hover {
    background-color: #015249;
}

.centerbutton a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #5F5F5F;
    text-decoration: none;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centerbutton a:hover {
    color: white;
}

#infoboxes {
    margin-top: 80px;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#infobox1 {
    float: left;
    background-color: #77C9D4;
    max-width: 20%;
    margin-left: 10%;
}

#infoimg1 {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.infoheader {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: white;
}

.infop {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

#infobox2 {
    float: right;
    background-color: #77C9D4;
    max-width: 20%;
    padding-bottom: 22px;
}

#infoimg2 {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

#infobox3 {
    float: center;
    background-color: #77C9D4;
    max-width: 20%;
    margin-right: 10%;
    padding-bottom: 22px;
}

#infoimg3 {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

#footerdiv {
    clear: both;
    padding: 10px;
    background-color: #77C9D4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footerheader {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.footertext {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

.statusimg {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
}

#bookboxes {
    width: 70%;
    margin: auto;
}

#serviceheader {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 36px;
}

#servicebox {
    background-color: #77C9D4;
    padding: 10px;
}

.servicetext {
    margin-left: 5%;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

.selectionbox {
    padding: 10px;
    margin-left: 5%;
    width: 80%;
    text-align: left;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;    
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
}

#detailheader {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 36px;
}

#detailbox {
    background-color: #77C9D4;
    padding: 10px;
}

#namebox {
    padding: 10px;
    margin-left: 5%;
    width: 80%;
    text-align: left;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;    
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
}

.flexbox {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#addressbox {
    padding: 10px;
    margin-left: 5%;
    width: 50%;
    text-align: left;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;    
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
}

#addresstext {
    margin-left: 5%;
    margin-top: 50px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

#mobiletext {
    margin-right: 5%;
    margin-top: 50px;
    width: 40%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

#mobilebox {
    padding: 10px;
    margin-left: 5%;
    width: 50%;
    text-align: left;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;    
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
}

#notebox {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    font-size: 16px;
    background-color: white;
    border-radius: 20px;    
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
}

.nextbutton {
    max-width: 20%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    font-size: 18px;
    list-style: none;
    background-color: white;
    border: 2px solid #57BC90;
    border-radius: 20px;
}

.nextbutton:hover {
    background-color: #015249;
}

.nextbutton a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #5F5F5F;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nextbutton a:hover {
    color: white;
}

#about1 {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#aboutimg1 {
    float: left;
    margin-bottom: 10%;
    margin-top: 2%;
    max-width: 60%;
}

#about1header {
    float: right;
    text-align: left;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
    font-weight: bold;
    font-size: 36px;
}

#about1p {
    float: right;
    text-align: left;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
    font-size: 18px;

}

#about1header2 {
    float: right;
    text-align: left;
    margin-top: 5%;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
    font-weight: bold;
    font-size: 36px;
}

#about2p {
    float: right;
    text-align: left;
    width: 35%;
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
    font-size: 18px;

}